*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#body{
    width: 1420px;
    margin: 0px auto;
    color: #c4a57d;
}
/*顶部*/
    #header>.wrapper>.nav>:nth-child(1)>a{
        color: #fff;
        border: 0px solid transparent;
        border-bottom: 3px solid #fff;
    }
/*顶部的状态*/
    .top{
        height: 61px;
    }
    .header-nav{
        background-color: #1f1d1e;
        height: 61px;
        position: relative;
    }
    .suspension{
        position: fixed;
        width: 1420px;
        z-index: 99;
        top: 0;
        opacity: 0.9;
        margin: 0 auto;
    }
    .header-nav>.wrappers{
        margin: 0 auto;
        width: 1220px;
        height: 100%;
        background: #1f1d1e;
    }
    .header-nav>.wrappers>a{
        color: #916f53;
        float: right;
        width: 138px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        border: 1px solid #916f53;
        margin: 13px 0 0 40px;
        font-size: 14px;
    }
    .header-nav>.wrappers>a:hover{
        background-color: #ccac82;
        color: #2d2522;
        border: 1px solid #CCAC85;
    }
    /*分页*/
    .header-nav>.wrappers>div{
        float: right;
        height: 57px;
    }
    .header-nav>.wrappers>div>a:nth-child(4){
        border-bottom: 3px solid #ccac82;
        color: #ccac82;
    }
    .header-nav>.wrappers>div>a{
        display: inline-block;
        font-size: 13px;
        line-height: 57px;
        border: 0px solid red;
        margin: 0 12px;
        color: #916f53;
    }
    .header-nav>.wrappers>div>a:hover{
        border-bottom: 3px solid #ccac82;
        color: #ccac82;
    }
    .header-nav>.wrappers>span{
        float: left;
        color: #916f53;
        height: 57px;
        line-height: 57px;
    }
/*通用文字属性*/
    .top_p{
        font-size: 40px;
    }
    .buttom_p{
        font-size: 30px;
        margin-top: 6px;
    }
    .title{
        color: #fff;
        font-size:16px;
        line-height: 32px;
        text-align: center;
        padding-top: 80px;
    }
/*1楼*/
.sections>.section1{
    height: 709px;
    width: 100%;
    background: url(../img/experience/s1-bg.jpg);
}
.sections>.section1>.banner1{
    width: 1220px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.sections>.section1>.banner1>div {
    position: absolute;
    left: 50%;
    text-align: center;
    top: 100px;
    width: 280px;
    margin-left: -140px;
}
/*2楼*/
.sections>.section2{
    height: 770px;
    width: 100%;
    background: url(../img/experience/s2-bg.jpg) no-repeat center -115px;
}
.sections>.section2>.banner2{
    width: 1220px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.sections>.section2>.banner2>div {
    position: absolute;
    left: 50%;
    text-align: center;
    top: 100px;
    width: 612px;
    margin-left: -306px;
}
/*3楼*/
.sections>.section3{
    height: 230px;
    width: 100%;
}
.sections>.section3>.banner3{
    width: 1220px;
    margin: 0 auto;
    height: 100%;
}
.sections>.section3>.banner3>div{
    width: 616px;
    margin: 0 auto;
}
/*4楼*/
.sections>.section4{
    height: 770px;
    width: 100%;
    background: url(../img/experience/s3-bg.jpg)no-repeat  center -22px;
}
.sections>.section4>.banner4{
    width: 1220px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.sections>.section4>.banner4>div {
    position: absolute;
    top: 320px;
    width: 612px;
}
.sections>.section4>.banner4>div>p:nth-child(3){
    font-size: 30px;
}
/*5楼*/
.sections>.section5{
    height: 230px;
    width: 100%;
}
.sections>.section5>.banner5{
    width: 1220px;
    margin: 0 auto;
    height: 100%;
}
.sections>.section5>.banner5>div{
    width: 658px;
    margin: 0 auto;
}
/*6楼*/
.sections>.section6{
    height: 770px;
    width: 100%;
    background: url(../img/experience/s4-bg.jpg) no-repeat center ;
}
.sections>.section6>.banner6{
    width: 1220px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.sections>.section6>.banner6>div {
    position: absolute;
    left: 50%;
    text-align: center;
    top: 10px;
    width: 542px;
    margin-left: -271px;
}
/*7楼*/
.sections>.section7{
    height: 230px;
    width: 100%;
}
.sections>.section7>.banner7{
    width: 1220px;
    margin: 0 auto;
    height: 100%;
}
.sections>.section7>.banner7>div{
    width: 645px;
    margin: 0 auto;
}
