*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
body{
    background: #ededed;
}
/*头部背景*/
#header{
    width: 1420px;
    height: 79px;
    background-color: #846850;
    margin: 0 auto;
}
/*头部容器*/
.wrapper{
    width: 1220px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.wrapper>a{
    position: absolute;
}
.wrapper>a>img{
    height: 42px;
    width: 92px;
    position: relative;
    top: 21px;
}
.wrapper>a>span{
    display: none;
}
/*注册主体*/
#main{
    margin: 210px auto 200px;
    width: 1420px;
}
#main>.Title{
    text-align: center;
    font-size: 45px;
    color: #9d6d4a;
    margin-bottom: 60px;
}

/*尾部*/
.footer{
    border-top: 1px solid #9d6d4a;
    margin: 45px auto 0;
    width: 1420px;
}
.footer>.footer_body{
    width: 1230px;
    margin:-1px 0 auto;
    padding: 38px 0;
    border-top: 1px solid #9d6d4a;
}
.footer>.footer_body>.toEnsure>img{
    padding-right: 175px;
}
.footer>.footer_body>.toEnsure>img:nth-child(5){
    padding-right: 0;
}
.footer>.footer_body>.toEnsure{
    display: flex;
    justify-content: center;
}
.footer>.footer_body>.toEnsure>span{
    color: #9d6d4a;
    font-size: 18px;
    margin-left: -162px;
    margin-right: 167px;
    margin-top: 3px;
}
.footer>.footer_body>ul{
    margin-top: 30px;
}
.footer>.footer_body>ul>li{
    display: inline-block;
    font-size: 14px;
    border-right: 1px solid #9d6d4a;
    margin-right: 20px;
    padding-right: 20px;
}
.footer>.footer_body>ul>li:nth-child(5){
    border-right: 0;
}
.footer>.footer_body>ul>li>a{
    color: #9d6d4a;
}
/*验证码错误*/
.layer{
    position: fixed;
    background: rgba(0,0,0,.3);
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    display: none;
}
.layer>.popBox{
    position: absolute;
    background: #fff;
    left: 50%;
    margin-left:-290px;
    top: 260px;
    z-index: 3;
}
.layer>.popBox>.hint{
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    padding: 0 30px;
    width: 520px;
    background: #9d6d4a;
}
.layer>.popBox>.hint>i{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 34px;
    display: inline-block;
    cursor: pointer;
}
.layer>.popBox>.saved{
    width: 580px;
    height: 75px;
    font-size: 30px;
    color: #9d6d4a;
    line-height: 74px;
    text-align: center;
    margin: 46px 0 34px;
}
.layer>.popBox>.saved>.saveCenter>i{
    width: 74px;
    height: 74px;
    background: url(../img/register/prototype.png) no-repeat center center;
    background-size: 74px 74px;
    display: inline-block;
    border-radius: 50%;
}
.layer>.popBox>.saved>.saveCenter>span{
    position: relative;
    top: -24px;
    left: 15px;
}
.layer>.popBox>.btnBox{
    text-align: center;
    margin-bottom: 40px;
}
.layer>.popBox>.btnBox>span{
    background: #9d6d4a;
    border-radius: 3px;
    color: #fff;
    background: #9d6d4a;
    display: inline-block;
    padding: 7px 30px;
    cursor: pointer;
    font-size: 20px;
}
/*注册第二部分*/
.passwordBox{
    width: 400px;
    margin: 0 auto;
    display: none;
}
.bl{
    line-height: 30px;
    font-size: 14px;
    color: #676767;
    display: block;
}
.bl>i{
    font-style: normal;
    font-size: 14px;
    line-height: 30px;
    color: #9d6d4a;
}
.typePassword{
    width: 398px;
    margin: 0 auto;
    margin-top: 25px;
    border: 1px solid #9d6d4a;
}
.typePassword>input{
    width: 378px;
    padding: 10px;
    font-size: 16px;
    border: none;
}
.submitBtn{
    margin: 20px auto 40px;
    width: 376px;
    font-size: 16px;
    text-align: center;
    background: #9d6d4a;
    padding: 12px;
    color: #e4dad5;
    cursor: pointer;
}
.loginMain{
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
}
.loginMain>.loginBox{
    width: 400px;
    margin: 0 auto;
}
.userInfo,.userPassword{
    width: 398px;
    margin: 0 auto;
    margin-top: 25px;
    border: 1px solid #9d6d4a;
    background: #fff;
}
.userInfo>input,.userPassword>input{
    width: 378px;
    margin: 10px;
    font-size: 16px;
    color: #9d6d4a;
    border: none;
}
input:focus{
    outline:none;
}
input::-webkit-input-placeholder {
    color: #9d6d4a;
}
.prompt{
    color: red;
    height: 20px;
    font-size: 16px;
    line-height: 25px;
    display: none;
}
.loginBtn{
    margin: 20px auto 40px;
    width: 376px;
    font-size: 16px;
    text-align: center;
    background: #9d6d4a;
    padding: 12px;
    color: #e4dad5;
    cursor: pointer;
}
.loginFooter>.clears{
    width: 350px;
    margin: 50px auto 0;
}
.loginFooter>.clears>p{
    color: #8f9099;
    font-size: 14px;
    margin-left: 40px;
}
.loginFooter>.clears>p>a{
    color: #9d6d4a;
}
/*右侧样式*/
.tools-bar{
    position: fixed;
    height: 54px;
    top: 50%;
    margin-top: -30px;
    right: 10px;
}
.tools-bar>.rnav{
    width: 54px;
}
.tools-bar>.rnav>a{
    margin-top: 0;
    cursor: pointer;
    width: 54px;
    height: 62px;
    display: block;
}
.tools-bar>.nav-content{
    position: absolute;
    width: 168px;
    height: 236px;
    right: 48px;
    top: 0px;
    display: none;
}
.tools-bar>.nav-content1{
    position: absolute;
    width: 168px;
    height: 236px;
    right: 48px;
    top: 0px;
    display: none;
}