*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#body{
    width: 1420px;
    margin: 0px auto;
}
/*顶部*/
    #header>.wrapper>.nav>:nth-child(1)>a{
        color: #fff;
        border: 0px solid transparent;
        border-bottom: 3px solid #fff;
    }
    .nav-item:hover .observation{
        display: block;
    }
/*顶部的状态*/
    .top{
        height: 61px;
    }
    .header-nav{
        background-color: #1f1d1e;
        height: 61px;
        position: relative;
    }
    .suspension{
        position: fixed;
        width: 1420px;
        z-index: 99;
        top: 0;
        opacity: 0.9;
        margin: 0 auto;
    }
    .header-nav>.wrappers{
        margin: 0 auto;
        width: 1220px;
        height: 100%;
        background: #1f1d1e;
    }
    .header-nav>.wrappers>a{
        color: #916f53;
        float: right;
        width: 138px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        border: 1px solid #916f53;
        margin: 13px 0 0 40px;
        font-size: 14px;
    }
    .header-nav>.wrappers>a:hover{
        background-color: #ccac82;
        color: #2d2522;
        border: 1px solid #CCAC85;
    }
    /*分页*/
    .header-nav>.wrappers>div{
        float: right;
        height: 57px;
    }
    .header-nav>.wrappers>div>a:nth-child(3){
        border-bottom: 3px solid #ccac82;
        color: #ccac82;
    }
    .header-nav>.wrappers>div>a{
        display: inline-block;
        font-size: 13px;
        line-height: 57px;
        border: 0px solid red;
        margin: 0 12px;
        color: #916f53;
    }
    .header-nav>.wrappers>div>a:hover{
        border-bottom: 3px solid #ccac82;
        color: #ccac82;
    }
    .header-nav>.wrappers>span{
        float: left;
        color: #916f53;
        height: 57px;
        line-height: 57px;
    }
/*通用*/
    .sections{
        width: 1420px;
    }
    .top_p{
        color: #CEAC82;
        font-size: 40px;
        line-height: 50px;
        font-weight: 400;
    }
    .buttom_p{
        color: #fff;
        text-align: center;
        font-size: 30px;
    }
    .title{
        color: #fff;
        width: 784px;
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        line-height: 30px;
    }
/*1楼*/
.sections>.section1{
    width: 100%;
    height:710px;
    position: relative;
    background:url(../img/packaging/s1-bg.jpg)no-repeat bottom center;
}
.sections>.section1>.banner1{
    width: 1220px;
    margin: 0 auto;
    height: 100%;
}
.sections>.section1>.banner1>div{
    padding-top: 80px;
    text-align: center;
}
/*2楼*/
.sections>.section2{
    width: 100%;
    height:755px;
    position: relative;
    background:url(../img/packaging/s2-bg.jpg)no-repeat center -15px;
}
.sections>.section2>.banner2{
    width: 1220px;
    margin: 0 auto;
    height: 100%;
}
.sections>.section2>.banner2>div{
    padding-top: 80px;
    text-align: center;
}
/*3楼*/
.sections>.section3{
    width: 100%;
    height:250px;
}
.sections>.section3>.banner3{
    width: 1220px;
    padding: 80px 0;
    margin: 0 auto;
    height: 100%;
}
/*4楼*/
.sections>.section4{
    width: 100%;
    height:755px;
    position: relative;
    background:url(../img/packaging/s3-bg.jpg)no-repeat;
}
.sections>.section4>.banner4{
    width: 1220px;
    margin: 0 auto;
    height: 100%;
}
.sections>.section4>.banner4>div{
    padding-top: 310px;
    text-align: center;
}
/*5楼*/
.sections>.section5{
    width: 100%;
    height:250px;
}
.sections>.section5>.banner5{
    width: 1220px;
    padding: 80px 0;
    margin: 0 auto;
    height: 100%;
}
/*6楼*/
.sections>.section6{
    width: 100%;
    height:755px;
    position: relative;
    background:url(../img/packaging/s4-bg.jpg)no-repeat;
}
.sections>.section6>.banner6{
    width: 1220px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.sections>.section6>.banner6>div{
    position: absolute;
    top: 350px;
    right: 0px;
}
/*7楼*/
.sections>.section7{
    width: 100%;
    height:220px;
}
.sections>.section7>.banner7{
    width: 1220px;
    padding: 80px 0;
    margin: 0 auto;
    height: 100%;
}
.sections>.section7>.banner7>p{
    width: 784px;
}
/*8楼*/
.sections>.section8{
    width: 100%;
    height:740px;
    position: relative;
    background:url(../img/packaging/s5-bg.jpg)no-repeat center -170px;
}
.sections>.section8>.banner8{
    width: 1220px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.sections>.section8>.banner8>div{
    position: absolute;
    top: 350px;
    left: 0;
}
/*9楼*/
.sections>.section9{
    width: 100%;
    height:220px;
}
.sections>.section9>.banner9{
    width: 1220px;
    padding: 80px 0;
    margin: 0 auto;
    height: 100%;
}